.page {
    position: relative;
}

.header {
    position: relative;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    padding: 1% 7% 0% 8%;
}

.baseText {
    font-family: Open Sans;
    line-height: normal;
    color: #808080;
    font-style: normal;
}

.title {
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 55px;
    font-weight: 700;
}

.exit {
    position: absolute;
    right: 7%;
    width: 54px;
    height: 54px;
 
    display: flex;
    justify-content: center;
    align-items: center;
 
    cursor: pointer;
 
    color: #FFF;
    background-color: #F89898;
    border-radius: 50%;
    transition: color 0.3s ease;
}

.exitIcon {
    width: auto;
    height: auto;
 
    svg {
       height: 70%;
       width: 70%;
    }
}

.exit:hover {
    color: #F89898;
    background-color: #ccc;
}

.content {
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    gap: 2vh;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex: 1;
}

.colTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.rowTitle {
    margin-left: 4%;
    
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.externCol {
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.projInfo {
    display: relative;
    border-radius: 12px;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    text-align: justify;
}

.desc {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.lineFormat {
    display: flex;
    justify-content: space-between;
}

.dateText {
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}

.dateFormat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);

    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.tag {
    display: inline;
    justify-content: center;
    padding: 5px 6px 5px 6px;
    align-items: center;
    border-radius: 16px;
    margin-right: 2%;

    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.Backend {
    background: #66A7DC;
}

.Frontend {
    background: #66C2C6;
}

.Mobile {
    background: #67C23A99;
}

.Wordpress {
    background: #8F8CB899;
}

.Assessoria {
    background: #C5449599;
}

.Treinamento {
    background: #2A8C8999;
}

.userName {
    margin-left: 4%;

    text-align: left;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.userIcon {
    width: auto;
    height: auto;

    svg {
       height: 52px;
       width: 48px;
    }
}

.custText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-size: 16.15px;
    font-weight: 400;
}

.copyButton {
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -3%;
    margin-top: -2%;
}

.copyButton:hover {
    cursor: pointer;
    background-color: transparent;
}