body {
  background-image: url('/src/assets/background-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FAF7FF;
  background-position: center;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  width: 59px;
  height: 61px;
  margin-top: 39px;
}

.site-name{
  margin-top: 39px;
  margin-left: 17px;
  font-size: 30px;
  color: #FAF7FF;
}

.body {
  display: flex;
  margin-top: 3%;
  justify-content: space-evenly;
  align-items: center;
}

.body-box {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}


.body-text {
  width: 100%;
  padding: 4%;
}

h1 {
  font-size: 300%;
  width: 130%;
  height: 10vh;
}

p {
  font-size: 130%;
  width: 580px;
  height: 70px;
  margin-top: 4vw;
  text-align: justify;
}

.login-body {
  display: flex;
  width: 50%;
  height: 10%;
  background-color: rgb(40, 42, 56, 0.30);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.login-box {
  text-align: center;
}

.login-box h2 {
  font-size: 36px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;

}

.input-box input {
  border-radius: 20px;
  width: 100%;
  text-align: center;
  height: 3vh;
  background: rgba(71, 69, 85, 0.50);
  color: rgba(250, 247, 255, 0.85);
  border-color:rgba(71, 69, 85, 0.50);
  font-size: 16px;
  margin-bottom: 12px;
}

.button-input {
  width: 114px;
  height: 30px;
  margin-top: 5px;
  border-radius: 20px;
  background-color: #6C71D7;
  color: #FAF7FF;
  text-align: center;
  font-size: 18px;
}

.register {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 100%;
}

.button-register {
  width: 133px;
  height: 30px;
  margin-top: 12px;
  border-radius: 20px;
  background-color: #67C23A;
  color: #FAF7FF;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .body-box {
    flex-direction: column;
    align-items: center;
  }

  .body-text {
    width: 100%;
    height: 30vh;
  }

  h1 {
    font-size: 150%;
  }

  p {
    width: 90%;
  }

  .login-body {
    width: 100%;
    padding: 5%;
  }

  .button-input, .button-register {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .site-name {
    font-size: 20px;
  }

  h1 {
    font-size: 120%;
  }

  p {
    font-size: 90%;
  }

  .button-input, .button-register {
    font-size: 5vw;
    height: 35px;
  }

  .input-box input::placeholder{
    color:#FAF7FF
  }
}